@font-face {
	font-family: 'Imprima'; 
	src: url(./fonts/Imprima/Imprima-Regular.ttf); 
}

body {
  background: linear-gradient(180deg, #61BBB0 0%, #8CE5C5 100%);
  overflow: hidden;

  font-family: Imprima;
  font-size: 20px;
  font-weight: 400;
}
